<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Help</h1>
  </div>
  <div>
    This is how we do it yeah yeah.
  </div>
</div>


</body>
</html>
